<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>MPS - Automation Testing</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo-digimedia-v2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animated.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/upload.css') }}">

    <link href="{{ url_for('static', filename='assets/css/admin.output.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/toggle.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/autocomplete.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/pagination.css') }}" rel="stylesheet">

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->
  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/" class="logo">
              <img src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

    {% block content %}

    {% endblock %}

  <footer class="footer">
    <div class="container" >
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2022 MadPoly Studio. All Rights Reserved.
          <br>Design: <a href="https://mps-automation.com" target="_parent" title="free css templates">hautp2@vng.com.vn</a></p>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/owl-carousel.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/autocomplete.js') }}"></script>

  <!--  <script src="{{ url_for('static', filename='assets/js/animation.js') }}"></script>-->
  <!--  <script src="{{ url_for('static', filename='assets/js/imagesloaded.js') }}"></script>-->
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
  </script>
  {% block scripts %}
  {% endblock %}

</body>
</html>
