<!DOCTYPE html>
{% extends 'admin/base.html' %}
{% block content %}

<main class="h-full overflow-y-auto">
    <div class="container px-6 mx-auto grid">
        <form action="/manage-testcase" id="form_manage_testcase" method="POST">
            <!-- Cards -->
            <div class="container px-6 mx-auto grid">
                <h2
                        class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
                >
                    Manage Testcase
                </h2>
                {% if warning_message %}
                <p><strong>{{ warning_message }}</strong></p>
                {% endif %}
                {% if success_message %}
                <p><strong>{{ success_message }}</strong></p>
                {% endif %}
                <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
                    <label class="block text-sm">
                <span class="text-gray-700 dark:text-gray-400 font-semibold">
                  Testcase ID
                </span>
                        <div class="autocomplete">
                            <input
                                    class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                    id="tcId"
                                    name="tcId"
                                    onchange="getTestcaseInfo()"
                                    onclick="getTestcaseInfo()"
                                    placeholder="Testcase ID"
                                    required
                            />
                        </div>
                    </label>
                    <div class="mt-4 text-sm">
                <span class="text-gray-700 dark:text-gray-400 font-semibold">
                  Project ID
                </span>
                        <div class="autocomplete">
                            <input
                                    class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                    id="prjId"
                                    name="prjId"
                                    onchange="getProjectID()"
                                    onclick="getProjectID()"
                                    placeholder="Project Id"
                                    required
                            />
                        </div>
                    </div>
                    <div class="mt-4 text-sm">
                <span class="text-gray-700 dark:text-gray-400 font-semibold">
                  Testcase Name
                </span>
                        <div class="autocomplete">
                            <input
                                    class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                    id="tcName"
                                    name="tcName"
                                    onchange="getTestcaseName()"
                                    onclick="getTestcaseName()"
                                    placeholder="Testcase Name"
                                    required
                            />
                        </div>
                    </div>
                    <div class="mt-4 text-sm">
                        <div class="mt-2">
                            <div class="mt-4 text-sm">
                <span class="text-gray-700 dark:text-gray-400 font-semibold">
                  Is Active
                </span>
                                <div class="mt-2">
                                    <label
                                            class="inline-flex items-center text-gray-600 dark:text-gray-400"
                                    >
                                        <input
                                                class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                                id="active"
                                                name="tcIsActive"
                                                onchange="displayRadioValueTcIsActive()"
                                                type="radio"
                                                value="active"
                                        />
                                        <span class="ml-2">Active</span>
                                    </label>
                                    <label
                                            class="inline-flex items-center ml-6 text-gray-600 dark:text-gray-400">
                                        <input
                                                checked
                                                class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                                id="deactivate"
                                                name="tcIsActive"
                                                onchange="displayRadioValueTcIsActive()"
                                                type="radio"
                                                value="deactivate"
                                        />
                                        <span class="ml-2">Deactivate</span>
                                    </label>

                                    <label class="block mt-4 text-sm">
                                        <span class="text-gray-700 dark:text-gray-400 font-semibold">Description</span>
                                        <input class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                               id="tcDesc"
                                               name="tcDesc"
                                               placeholder="ID=2_to_150|GUN=Minigun,RocketLauncher" width="300"
                                               required
                                        />
                                    </label>
                                    <table>
                                        <tr>
                                            <th>
                                                <div class="block mt-4 text-sm">
                                                    <button class="flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                                                            form="form_manage_testcase" id="addBtn"
                                                            name="addBtn" onclick="getSubmitEvent(event)" type="submit"
                                                            value="ADD">
                                                        Add
                                                    </button>
                                                </div>
                                            </th>
                                            <th></th>

                                            <th>
                                                <div class="block mt-4 text-sm">
                                                    <button class="flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                                                            form="form_manage_testcase" id="updateBtn"
                                                            name="updateBtn" onclick="getSubmitEvent(event)"
                                                            type="submit"
                                                            value="UPDATE">
                                                        Update
                                                    </button>
                                                </div>
                                            </th>
                                        </tr>
                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <input hidden id='tc_is_active' name="tc_is_active" type='text'/>
            <input hidden id='submit_button' name="submit_button" type='text'/>
        </form>
        <!-- New Table -->
        <div class="w-full overflow-hidden rounded-lg shadow-xs">

            <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap" id="deviceTable">
                    <thead>
                    <tr
                            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                    >
                        <th class="px-4 py-3">Testcase ID</th>
                        <th class="px-4 py-3">Project ID</th>
                        <th class="px-4 py-3">Testcase Name</th>
                        <th class="px-4 py-3">Is Active</th>
                        <th class="px-4 py-3">Description</th>
                        <th class="px-4 py-3">Created At</th>
                        <th class="px-4 py-3">Update At</th>
                    </tr>
                    </thead>
                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                    {% for tc in testcases %}
                    <tr class="text-gray-700 dark:text-gray-400">
                        <td class="px-4 py-3 text-sm">
                            <div>
                                <p class="font-semibold"> {{ tc.tc_id }}</p>
                            </div>

                        </td>

                        <td class="px-4 py-3 text-sm">
                            <div>
                                <p> {{ tc.prj_id }}</p>
                            </div>

                        </td>

                        <td class="px-4 py-3 text-sm">
                            <div>
                                <p> {{ tc.tc_name }}</p>
                            </div>

                        </td>

                        <td class="px-4 py-3 text-xs">
                            <label class="switch">
                                {% if tc.is_active is true %}
                                <input checked disabled="true" type="checkbox">
                                {% else %}
                                <input disabled="true" type="checkbox">
                                {% endif %}
                                <span class="slider round"></span>
                            </label>
                        </td>


                        <td class="px-4 py-3 text-sm">
                            <div>
                                <p> {{ tc.description }} </p>
                            </div>

                        </td>

                        <td class="px-4 py-3 text-sm">
                            {{ tc.created_at }}
                        </td>

                        <td class="px-4 py-3 text-sm">
                            {{ tc.updated_at }}
                        </td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
                <span class="flex items-center col-span-3">
                    Total {{ total_active_testcase }} active testcase
                </span>
            </div>
        </div>
        {{ pagination.links }}
    </div>
</main>

{% endblock %}

{% block scripts %}

<script>

function getSubmitEvent(event) {
  console.log(event.target.value)
  submit_button.setAttribute('value',event.target.value)
}


<!--displayRadioValueTcIsActive->
    displayRadioValueTcIsActive()


<!--autocomplete Testcase id->
getTestcaseInfo()
function getTestcaseInfo(){
    var tcIdList = []
    {% for tc in testcases %}
        tcIdList.push("{{ tc.tc_id }}");
    {% endfor %}
    autocomplete(document.getElementById("tcId"), tcIdList);
}

<!--autocomplete project id->
getProjectID()
function getProjectID(){
    var prjIdList = []
    {% for prj in projects %}
        prjIdList.push("{{ prj.prj_id }}");
    {% endfor %}
    autocomplete(document.getElementById("prjId"), prjIdList);
}

<!--autocomplete testcase name->
getTestcaseName()
function getTestcaseName(){
    var tcNameList = []
    {% for tc in testcases %}
        tcNameList.push("{{ tc.tc_name }}");
    {% endfor %}
    autocomplete(document.getElementById("tcName"), tcNameList);
}

<!--getDeviceInfo->
getTestcaseInfo()
function getTestcaseInfo(){
   var tcId = document.getElementById("tcId").value;

   {% for tc in testcases %}

        if (tcId === "{{ tc.tc_id }}"){

            prjId.setAttribute('value',"{{ tc.prj_id }}");

            tcName.setAttribute('value',"{{ tc.tc_name }}");

            if ("{{ tc.is_active }}" === "True"){
                document.getElementById("active").checked = true;
                }
            else{
                document.getElementById("deactivate").checked = true;
            }
            displayRadioValueTcIsActive()

            tcDesc.setAttribute('value',"{{ tc.description }}");
   }

   {% endfor %}
}










</script>
{% endblock %}
