<!DOCTYPE html>
{% extends 'admin/base.html' %}
{% block content %}

<main class="h-full overflow-y-auto">
    <div class="container px-6 mx-auto grid">
        <form action="/manage-condition" id="form_manage_condition" method="POST">
            <!-- Cards -->
            <div class="container px-6 mx-auto grid">
                <h2
                        class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
                >
                    Manage Condition
                </h2>
                {% if warning_message %}
                <p><strong>{{ warning_message }}</strong></p>
                {% endif %}
                {% if success_message %}
                <p><strong>{{ success_message }}</strong></p>
                {% endif %}
                <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
                    <label class="block text-sm">
                <span class="text-gray-700 dark:text-gray-400 font-semibold">
                  Condition Name
                </span>
                        <div class="autocomplete">
                            <input
                                    class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                    id="condName"
                                    name="condName"
                                    onchange="getCondInfo()"
                                    onclick="getCondInfo()"
                                    placeholder="ID=2_to_150|GUN=Minigun,RocketLauncher"
                                    required
                            />
                        </div>
                    </label>
                    <div class="mt-4 text-sm">
                <span class="text-gray-700 dark:text-gray-400 font-semibold">
                  Condition Group
                </span>
                        <input
                                class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                id="condGroup"
                                name="condGroup"
                                placeholder="Condition Group"
                        />
                    </div>

                    <div class="mt-4 text-sm">

                    <span class="text-gray-700 dark:text-gray-400 font-semibold">
                  Is Active
                </span>
                        <div class="mt-2">
                            <label
                                    class="inline-flex items-center text-gray-600 dark:text-gray-400"
                            >
                                <input
                                        class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                        id="active"
                                        name="condIsActive"
                                        onchange="displayRadioValueCondIsActive()"
                                        type="radio"
                                        value="active"
                                />
                                <span class="ml-2">Active</span>
                            </label>
                            <label
                                    class="inline-flex items-center ml-6 text-gray-600 dark:text-gray-400">
                                <input
                                        checked
                                        class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                        id="deactivate"
                                        name="condIsActive"
                                        onchange="displayRadioValueCondIsActive()"
                                        type="radio"
                                        value="deactivate"
                                />
                                <span class="ml-2">Deactivate</span>
                            </label>
                        </div>
                    </div>
                    <table>
                        <tr>
                            <th>
                                <div class="block mt-4 text-sm">
                                    <button class="flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                                            form="form_manage_condition" id="addBtn"
                                            name="addBtn" onclick="getSubmitEvent(event)" type="submit" value="ADD">
                                        Add
                                    </button>
                                </div>
                            </th>
                            <th></th>
                            <th>
                                <div class="block mt-4 text-sm">
                                    <button class="flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                                            form="form_manage_condition" id="updateBtn"
                                            name="updateBtn" onclick="getSubmitEvent(event)" type="submit"
                                            value="UPDATE">
                                        Update
                                    </button>
                                </div>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
            <input hidden id='cond_is_active' name="cond_is_active" type='text'/>
            <input hidden id='updateCondName' name="updateCondName" type='text'/>
            <input hidden id='condId' name="condId" type='text'/>
            <input hidden id='submit_button' name="submit_button" type='text'/>
        </form>
        <!-- New Table -->
        <div class="w-full overflow-hidden rounded-lg shadow-xs">

            <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                    <thead>
                    <tr
                            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                    >
                        <th class="px-4 py-3">ID</th>
                        <th class="px-4 py-3">Name</th>
                        <th class="px-4 py-3">Group</th>
                        <th class="px-4 py-3">Is Active</th>
                        <th class="px-4 py-3">Created At</th>
                    </tr>
                    </thead>
                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                    {% for cond in conditions %}
                    <tr class="text-gray-700 dark:text-gray-400">
                        <td class="px-4 py-3 text-sm">
                            <div>
                                <p> {{ cond.id }}</p>
                            </div>

                        </td>

                        <td class="px-4 py-3 text-sm">
                            <div>
                                <p> {{ cond.cond_name }} </p>
                            </div>

                        </td>

                        <td class="px-4 py-3 text-sm">
                            <div>
                                <p> {{ cond.cond_group }} </p>
                            </div>

                        </td>

                        <td class="px-4 py-3 text-xs">
                            <label class="switch">
                                {% if cond.is_active is true %}
                                <input checked disabled="true" type="checkbox">
                                {% else %}
                                <input disabled="true" type="checkbox">
                                {% endif %}
                                <span class="slider round"></span>
                            </label>
                        </td>

                        <td class="px-4 py-3 text-sm">
                            {{ cond.created_at }}
                        </td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
                <span class="flex items-center col-span-3">
                    Total {{ total_cond }} condition
                </span>
            </div>
        </div>
        {{ pagination.links }}
    </div>
</main>

{% endblock %}

{% block scripts %}

<script>

function getSubmitEvent(event) {
  console.log(event.target.value)
  submit_button.setAttribute('value',event.target.value)
}

<!--displayRadioValueCondIsActive->
    displayRadioValueCondIsActive()

<!--autocomplete condition name->
getConditionName()
function getConditionName(){
    var condList = []
    {% for cond in conditions %}
        condList.push("{{ cond.cond_name }}");
    {% endfor %}
    autocomplete(document.getElementById("condName"), condList);

}



<!--getCondInfo()->
getCondInfo()
function getCondInfo(){
   var condName = document.getElementById("condName").value;
   {% for cond in conditions %}
        if (condName === "{{ cond.cond_name }}"){
            condGroup.setAttribute('value',"{{ cond.cond_group }}");
            condId.setAttribute('value',"{{ cond.id }}");

            if ("{{ cond.is_active }}" === "True"){
                document.getElementById("active").checked = true;
                }
            else{
                document.getElementById("deactivate").checked = true;
            }
            displayRadioValueCondIsActive()
        }
   {% endfor %}
}






</script>
{% endblock %}
