<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Automation Testing</title>-->
<!--</head>-->
<!--<body>-->
<!--<p>Add projects</p>-->
<!--<hr>-->
<!--    <p>Directory: <input type="file" webkitdirectory mozdirectory/></p>-->
<!--    <p>Directory & accept: <input type="file" webkitdirectory mozdirectory accept="image/*"/></p>-->
<!--    <p>Multiple: <input type="file" multiple/></p>-->
<!--    <p>Multiple & accept: <input type="file" multiple accept="image/*"/></p>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Upload Files</title>
    <meta charset="utf-8">

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">script></script>

    <style>hr, h3 {padding-bottom: 20px;}canvas {background-color: #fffff;}</style>
    <style>
    </style>
  </head>
  <body>

    <div class="container">

      <div class="header">
        <h3 class="text-muted">Upload Projects</h3>
      </div>

      <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
      </form>
    </div>

    <script>
    </script>
  </body>
</html>