Flask==2.2.3
Flask-SQLAlchemy==3.0.3
gunicorn==20.1.0
psycopg2-binary==2.9.3
flake8==5.0.4
requests
flask_oidc
Flask-Cors
itsdangerous==2.0.1
requests_oauthlib
python-dotenv
flask-paginate
pyopenssl
openpyxl
xlsxwriter
pandas
flask_uploads